<!doctype xhtml>
<html>
	<head>
		<title>Авторизация — SC</title>
		<link rel="shortcut icon" href="https://imgur.com/mi1tf6k.png">
		<link rel="stylesheet" href="assets/css/install.css" />
<script src="assets/js/install.js"></script>
	</head>
	
	<body >
<div class="login-page">
  <div class="form">
    <form class="login-form" action="" method="post">
	<input type="hidden" name="auth" >
<input type="text" name="email" class="form-control" placeholder="Логин администратора">
<input type="password" name="password" class="form-control" placeholder="Пароль администратора">
      <button type="submit" >Войти</button>
    </form>
  </div>
</div>
		
	</body>
</html>