	<title>Аккаунты — SC</title>	
	<link rel="shortcut icon" href="https://imgur.com/mi1tf6k.png">
	    	        <div class="spamboard">
  <div style="float: right;"><a style="color: #ddd; text-decoration: none;" href="/logout">Выход</a></div>
  <div style="float: left;"><a style="color: #ddd; text-decoration: none;" href="/spanel/settings">Настройки</a></div>
            </div>
          
	            <div class="logs">
 <div style="margin-bottom: 15px;"><small>&nbsp;</small></div>
            </div>
            <div class="stat">
                <div class="item">
                    <div class="count">%total_logs%</div>
                    <div class="descr">Аккаунты в базе<br><small>За которые вы еще не получили оплату</small></div>
                </div>

                <div class="item">
                   <!-- <div class="count">%spammer_login%</div>-->
                    <div class="descr">Ваша персональная ссылка<br><small><a target="_blank" href="https://%ref_link%">https://%ref_link%</a></small></div>
                </div>

                <div class="item">
                    <div class="count">%balance%</div>
                    <div class="descr">Рублей на счету<br><small>Доступны для вывода</small></div>
                </div>
            </div>
				
				
					 <div style="margin-bottom: 15px">&nbsp;</div>
					
					<div class="table-responsive">
						<div id="data-table_wrapper" class="dataTables_wrapper no-footer">
						
							%table%
							
						</div>
					</div>
				<br><br><br>